<div id="wrapper">
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
          <p class="context">XXXXXX@digital.cabinet-office.gov.uk</p>
          <h1>John Smith</h1>
        </header>
      </div>
    </div>
    {% include "./saved-search.html" %}
    <hr>
    <h2 class="summary-item-heading" id="unpublished_requirements">Unpublished requirements</h2>
    <p class="summary-item-no-content">You don’t have any unpublished requirements</p>
    <h2 class="summary-item-heading" id="published_requirements">Published requirements</h2>
    <p class="summary-item-no-content">You don’t have any published requirements</p>
    <h2 class="summary-item-heading" id="closed_requirements">Closed requirements</h2>
    <p class="summary-item-no-content">You don’t have any requirements that are closed</p>
  </main>
</div>