{% extends "layout.html" %}

{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}
{% include "includes/phase_banner_prototype.html" %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        
      
        <li><a href="/g-cloud">Cloud hosting, software and support</a></li>
        
      
        <li><a href="/g-cloud/search">Search</a></li>
        
        <li>Save Search</li>
      
    </ol>
  </nav>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div id="wrapper">
        <main id="content" role="main">
          <header class="page-heading">
            <h1>Save your search</h1>
          </header>
          <hr>
          
          <form action="" method="POST">
            <div class="form-group">
              <label class="form-label" for="search_name">Name</label>
              <input class="form-control" id="search_name" name="search_name" type="text">
            </div>

            {% if existing_searches %}

            <div class="form-group">
              <p>or</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="existing_search">Select Existing</label>
              <select class="form-control" name="existing_search">
                <option value="">select</option>
                
                {% for key, item in existing_searches %}
                  <option value="{{ key }}">{{ item.name }}</option>
                {% endfor %}
            
              </select>
            </div>

            {% endif %}

            <input type="hidden" name="search_url" value="{{ search_url }}">
            <input type="hidden" name="summary" value="{{ summary }}">
            <input class="button" type="submit" value="Save and continue">            
          </form>
        </main>
      </div>
    </div>
  </div>
</main>
{% endblock %}


