{% extends "./search_layout.html" %}

{% block search_content %}
<section aria-label="Search filters" class="column-one-third search-page-filters">
    <form action="/g-cloud/search/live?live-results=true" id="js-dm-live-search-form" method="get" name="js-dm-live-search-form">
    <input type="hidden" name="lot" value="{{ query.lot }}">
    <input type="hidden" name="serviceCategories" value="{{ query.serviceCategories }}">    
    {% include "./includes/keyword_search.html" %}
    {% include "./includes/categories.html" %}
    {% include "./includes/filters.html" %}
    </form>
</section>

<section aria-label="Search results" class="column-two-thirds">
    {% include "./includes/search_results.html" %}
</section>

{% endblock %}

{% block page_scripts %}
    {% include "./includes/scripts.html" %}
{% endblock %}