{% extends "./search_layout.html" %}

{% block search_content %}
<section aria-label="Search filters" class="column-one-third search-page-filters">
    <form action="/g-cloud/search/live?live-results=true" id="js-dm-live-search-form" method="get" name="js-dm-live-search-form">
    <input type="hidden" name="lot" value="{{ query.lot }}">
    <input type="hidden" name="serviceCategories" value="{{ query.serviceCategories }}">    
    {% include "./includes/keyword_search.html" %}
    {% include "./includes/categories.html" %}
    {% include "./includes/filters.html" %}
    </form>
</section>
<section aria-label="Search results" class="column-two-thirds">
    <div id="js-dm-live-search-summary" class="js-dm-live-search-fade"></div>
    <a class="button-save" style="font-size: 18px;" id="saveYourSearch">Save your search</a>
    <div id="js-dm-live-search-results" class="js-dm-live-search-fade"></div>
</section>

{% endblock %}

{% block page_scripts %}
<script src="/public/javascripts/live-search.js"></script>
<script>
    /* SAVE YOUR SEARCH REDIRECT */
    (function(){
        $('#saveYourSearch').on('click', (e) => {
            var search_url = `${window.location.pathname}${window.location.search}`;
            var path = `/g-cloud/search/save-search?search_url=${encodeURIComponent(search_url)}`;
            window.location.href = path;
            
        });
    })();

    /* CHECKBOX FILTERS SELECT */
    (function(){
        var checkBox = function( name, value )
        {
            $("input[name=" + name + "]input[value='" + value + "']input[type=checkbox]").prop('checked','checked');
        }

        var filters = {{ query | dump | safe}};
        for ( var i in filters )
        {
            if ( typeof filters[i] == 'object' )
            {
                for( var x = 0; x < filters[i].length; x++ )
                {
                    checkBox(i, filters[i][x] );
                }
            }
            else
            {
                checkBox( i, filters[i] );
            }

            
        }

        $("input[type=checkbox]").change();
    })();

</script>
{% endblock %}