<div class="js-dm-live-search-fade" id="js-dm-live-search-categories">
    <div class="lot-filters">
    <h2>Choose a category</h2>
    <ul>
        <li>
        <a class="lot-filters__top-level-link" href="/g-cloud/search">All categories</a>
        <ul>
            <li>
            <strong>Cloud software</strong>
            <ul class="lot-filters--last-list">
                <li>
                <a href="/g-cloud/search?serviceCategories=accounting+and+finance&amp;lot=cloud-software">Accounting and finance (1513)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=analytics+and+business+intelligence&amp;lot=cloud-software">Analytics and business intelligence (2605)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=application+security&amp;lot=cloud-software">Application security (1277)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=collaborative+working&amp;lot=cloud-software">Collaborative working (3460)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=creative+design+and+publishing&amp;lot=cloud-software">Creative, design and publishing (1415)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=customer+relationship+management+%28crm%29&amp;lot=cloud-software">Customer relationship management (CRM) (1861)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=electronic+document+and+records+management+%28edrm%29&amp;lot=cloud-software">Electronic document and records management (EDRM) (2061)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=healthcare&amp;lot=cloud-software">Healthcare (874)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=human+resources+and+employee+management&amp;lot=cloud-software">Human resources and employee management (1773)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=information+and+communications+technology+%28ict%29&amp;lot=cloud-software">Information and communications technology (ICT) (4445)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=legal+and+enforcement&amp;lot=cloud-software">Legal and enforcement (550)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=marketing&amp;lot=cloud-software">Marketing (1526)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=operations+management&amp;lot=cloud-software">Operations management (2889)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=project+management+and+planning&amp;lot=cloud-software">Project management and planning (1616)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=sales&amp;lot=cloud-software">Sales (606)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=schools+education+and+libraries&amp;lot=cloud-software">Schools, education and libraries (631)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=software+development+tools&amp;lot=cloud-software">Software development tools (1257)</a>
                </li>
                <li>
                <a href="/g-cloud/search?serviceCategories=transport+and+logistics&amp;lot=cloud-software">Transport and logistics (564)</a>
                </li>
            </ul>
            </li>
        </ul>
        </li>
    </ul>
    </div>
</div>
<input name="lot" type="hidden" value="cloud-software">