{% extends "layout.html" %}

{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}
{% include "includes/phase_banner_prototype.html" %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li><a href="/buyers">Account Details</a></li>
        <li>DOS requirements</li>
    </ol>
  </nav>
</div>


<div id="wrapper">
    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
            <h1>DOS requirements</h1>
          </header>
        </div>
      </div>

      <h2 class="summary-item-heading" id="unpublished_requirements">Unpublished requirements</h2>
      <p class="summary-item-no-content">You don’t have any unpublished requirements</p>
      <h2 class="summary-item-heading" id="published_requirements">Published requirements</h2>
      <p class="summary-item-no-content">You don’t have any published requirements</p>
      <h2 class="summary-item-heading" id="closed_requirements">Closed requirements</h2>
      <p class="summary-item-no-content">You don’t have any requirements that are closed</p>
            
    </main>
  </div>

{% endblock %}


