<div id="wrapper">
  <main id="content" role="main">
    <header class="page-heading-smaller page-heading-with-context page-heading-without-breadcrumb">
      <p class="context">dilwoar.hussain@digital.cabinet-office.gov.uk</p>
      <h1>Create a new Digital Marketplace account</h1>
    </header>
    <form action="/create-user/gAAAAABZjHPZRijReg5tTK6fTs46jTbQ0IdwfF02cUmpT1YQ9LGg54EruqYJZaok1DonV2kK34vl8ylcBY201n4fw9k99t0gs0-aI_rFyYLMBalx-B5mN1VBdKtWNCXAx_cGa78Z8YbmETo_1ffT5kGh532SQ17hdG3IN5Oj2gdNSKnibfpR7xw%3D" autocomplete="off" id="createUserForm" method="post" name="createUserForm">
      <div class="grid-row">
        <div>
          <div style="display:none;">
            <input id="csrf_token" name="csrf_token" type="hidden" value="##8dc13b1803d897dd7f717742ff9c39e5b05fa401">
          </div>
          <div class="question" id="name">
            <label class="question-heading" for="input_name">Your name</label>
            <p class="hint">Enter the name to be referred to on the Digital Marketplace</p><input autocomplete="off" class="text-box" id="input_name" name="name" type="text" value="">
          </div>
          <div class="question" id="phone_number">
            <label class="question-heading" for="input_phone_number">Phone number</label>
            <p class="hint">If there are any urgent problems with your requirements, we need your phone number so the support team can help you fix them quickly.</p><input autocomplete="off" class="text-box" id="input_phone_number" name="phone_number" type="text" value="">
          </div>
          <div class="question" id="password">
            <label class="question-heading" for="input_password">Password</label>
            <p class="hint">Must be between 10 and 50 characters</p><input autocomplete="off" class="text-box" id="input_password" name="password" type="password" value="">
          </div><input class="button-save" type="submit" value="Create account">
        </div>
      </div>
    </form>
  </main>
</div>