<div id="wrapper">
  <main id="content" role="main">
    <div class="single-question-page">
      <header class="page-heading page-heading-without-breadcrumb">
        <h1>Activate your account</h1>
      </header>
      <div class="grid-row">
        <div class="column-full">
          <p>An email has been sent to XXXXXXXX@digital.cabinet-office.gov.uk. You need to click on the link in the email to activate your account.</p>
        </div>

        <div>
          <p>For Testing ONLY: <a href="/create-user?token=gAAAAABZjHqhRSU5Od9oZXO5JJlU4w45H6l6_97zRkL4UUMISTCUp-aEKqb8kbiTuc9PY_2kIFYHP8E3jY9HRf_gRon4JojU6hTyuaH0LWDoscqbYFNPGKBXv6dehmMHuAousvQzuzirx5CXDjes6apyMHyYh54TrNNb84BjDQTc--ERqWGWYmA%3D">EMAIL ACTIVATION LINK</a></p>

        </div>

      </div>
    </div>
  </main>
</div>