{% extends "layout.html" %}

{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}
{% include "includes/phase_banner_prototype.html" %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li>Your account details</li>
    </ol>
  </nav>
</div>


<div id="wrapper">
    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
            <p class="context">XXXXXX@digital.cabinet-office.gov.uk</p>
            <h1>John Smith</h1>
          </header>
        </div>
      </div>

      <div class="grid-row">

        <div class="column-full center" style="margin: 0px auto; text-align: center;">

            <h1>Choose framework</h1>

            <a href="/buyers/dos-requirements" class="button-save">DOS requirements</a>
            <a href="/buyers/saved-searches" class="button-save">G-Cloud saved searched</a>
            
        </div>


      </div>      
    </main>
  </div>

{% endblock %}


