{% extends "layout.html" %}

{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}
{% include "includes/phase_banner_prototype.html" %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li><a href="/buyers">Account Details</a></li>
        <li><a href="/buyers/saved-searches">Saved Searches</a></li>
        <li>Saved Search Details</li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div id="wrapper">
        <main id="content" role="main">
          <header class="page-heading">
            <h1>Name of procurement project</h1>
          </header>
        

            
        </main>
      </div>
    </div>
  </div>
</main>
{% endblock %}


