{% extends "layout.html" %}

{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}
{% include "includes/phase_banner_prototype.html" %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li><a href="/buyers">Account Details</a></li>
        <li>Saved Search Details</li>
      
    </ol>
  </nav>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div id="wrapper">
        <main id="content" role="main">
          <header class="page-heading">
            <h1>Search Details</h1>
          </header>
    
          <table>
                <caption class="heading-small">{{ data.name }}'s Search Details</caption>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{ data.name }}</td>
                  </tr>
                  <tr>
                    <td>Created Date</td>
                    <td>{{ data.created_date | unixToReadable }}</td>
                  </tr>
                  <tr>
                    <td>Last Modified</td>
                    <td>{{ data.last_modified | unixToReadable }}</td>
                  </tr>
                  <tr>
                    <td>Search URL</td>
                    <td><a href="{{ data.search_url }}" target="_blank">Open search in new tab</a></td>
                  </tr>
                </tbody>
              </table>
        </main>
      </div>
    </div>
  </div>
</main>
{% endblock %}


