{% extends "layout.html" %}
{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="/award/dashboard/award">Your account</a></li>
    </ol>
  </div>
    <div class="grid-row">
      <div class="column-one-whole">
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
          <p class="context">
            Overview
          </p>
          <h1>
            Name of the procurement
          </h1>
        </header>
      </div>
      <div class="column-two-thirds">
        <ol class="instruction-list large-steps">
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Write requirements
            </h2>
            <br>
            <p>Done</p>
            
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body ">
              Set how you’ll evaluate suppliers
            </h2>
            
              <br>
              <p>Done</p>
            
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body "> Publish requirements </h2>
            
              <p class="instruction-list-item-extra-information">
              <!-- <p>Your requirements closed for applications on Wednesday 16 August 2017 at 11:59pm GMT.</p> -->
              <p class="sidebar-content">Closed Wednesday 16 August 2017 at 11:59 BST</p>
              <!-- <p class="sidebar-content">Published on Digital Outcomes and Specialists 2</p> -->
 <!--              <h2 class="heading-small">Framework</h2>
              <p class="framework-name"><a href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-framework-agreement">Digital Outcomes and Specialists</a></p>
 -->
              <ul class="instruction-list-item-extra-information instruction-list-item-top">
                <li> 
                
                  <a class="instruction-list-item-extra-information  instruction-list-item-top" href="/award/opportunity/award">
                    View your published requirements
                  </a>
                </li>
              </ul>
            
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Answer supplier questions
            </h2>
            
              <br>
              <p>Done</p>
            
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Shortlist
            </h2>
            {% if data['shortlisted_suppliers'] or data['opportunity_id'] == 1 %}
              <br>
              <p class="instruction-list-item-extra-information">Done</p>
              <ul class="instruction-list-item-extra-information instruction-list-item-top">
                 <li>
                    <a href="/shortlist/check_your_answers/award?complete=true">View shortlisted suppliers</a>
                  </li>
            {% else %}
              <p class="instruction-list-item-extra-information">After the application deadline, shortlist the suppliers who applied.</p>
              <ul class="instruction-list-item-extra-information instruction-list-item-top">
                <li>
                  <a href="/shortlist/download/award">View and shortlist suppliers</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">How to shortlist suppliers</a>
                </li>
                <li>
                  <a href="/shortlist/status/award?opportunity_id={{opportunity_id}}">Let us know the results of shortlisting</a>
                </li>
              {% endif %}
            </ul>
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Evaluate
            </h2>
            <p class="instruction-list-item-extra-information">
              Evaluate your shortlist using the criteria and methods you published with your requirements.
            </p>
            <ul class="instruction-list-item-extra-information instruction-list-item-top">
              <a href="https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers">How to evaluate suppliers</a>
            </ul>
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Award a contract
            </h2>
            <p class="instruction-list-item-extra-information">You must give your chosen supplier a contract before they start work.</p>
            <ul class="instruction-list-item-extra-information instruction-list-item-top">
              <li>
                <a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">How to award a contract</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-call-off-contract">View the Digital Outcomes and Specialists contract</a>
              </li>
              <li>
                <a href="/award/status/award?opportunity_id={{opportunity_id}}">Tell us who won the contract</a>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="column-one-third">
          
        <div id="requirements-meta">
          {% if data['award-status-'+opportunity_id]|length == 0 %}
            <br>
            <a href="/award/no_details/award">Cancel requirement</a>
          {% endif %}
        </div>
          
      </div>
    </div>
    <div class="grid-row">
     <div class="column-two-thirds">
       <a href="">Delete</a>
     </div>
   </div>
 </main>
{% endblock %}